# Pandas Assignment_5.11442

1) For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
{'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

In [33]:
df=pd.DataFrame({'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [35]:
df

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [77]:
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] #finding index value of zero
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1] #distance from the previous zero 
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [76]:
dti=pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s.head(n=10)

2015-01-01    0.132345
2015-01-02    0.461544
2015-01-05    0.889225
2015-01-06    0.415005
2015-01-07    0.830298
2015-01-08    0.234625
2015-01-09    0.705591
2015-01-12    0.596714
2015-01-13    0.587468
2015-01-14    0.624447
Freq: B, dtype: float64

3) Find the sum of the values in s for every Wednesday

In [85]:
s[dti.weekday==2].sum()

27.57157552112189

4) Average For each calendar month

In [87]:
s.resample('M').mean()

2015-01-31    0.581962
2015-02-28    0.655571
2015-03-31    0.434632
2015-04-30    0.556385
2015-05-31    0.414208
2015-06-30    0.407789
2015-07-31    0.497804
2015-08-31    0.435344
2015-09-30    0.570122
2015-10-31    0.527267
2015-11-30    0.471750
2015-12-31    0.482999
Freq: M, dtype: float64

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [99]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-22
2015-05-31   2015-02-11
2015-09-30   2015-09-07
2016-01-31   2015-10-12
dtype: datetime64[ns]